# Banco de dados
POSTGRES_USER=bankuser
POSTGRES_PASSWORD=change_me_in_production
POSTGRES_DB=system_bank

# RabbitMQ
RABBITMQ_USER=guest
RABBITMQ_PASS=change_me_in_production

# API Rust
JWT_SECRET=change_me_in_production_min_32_chars
JWT_EXPIRY_SECS=900

# Grafana
GRAFANA_PASSWORD=admin
